# Virtual environment
.dis/
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyc

# VS Code settings
.vscode/

# Test/cache artifacts
.pytest_cache/
.coverage

# macOS
.DS_Store
Thumbs.db